* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .main {
  width: 100%;
  height: 100%;
  background: url("../img/background/beach.img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.wrapper .main__wrap {
  width: 100%;
  padding: 10% 0px 0px 0px;
}

.wrapper .main__wrap img {
  width: 100%;
  max-width: 80px;
  margin-left: calc(50% - 40px);
}

@media (max-width: 400px) {
  .wrapper .main__wrap img {
    max-width: 50px;
    margin-left: calc(50% - 25px);
  }
}

.wrapper .main__wrap h1 {
  width: 100%;
  max-width: 400px;
  font-size: 62px;
  color: #1a1717;
  margin-left: calc(50% - 200px);
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 400px) {
  .wrapper .main__wrap h1 {
    margin-left: 0px;
    font-size: 35px;
    padding: 5px 0px;
  }
}

.wrapper .main__wrap p {
  width: 100%;
  max-width: 500px;
  font-size: 18px;
  color: #524b4b;
  margin-left: calc(50% - 250px);
  text-align: center;
  padding: 15px 0px;
}

@media (max-width: 760px) {
  .wrapper .main__wrap p {
    padding: 5px 20px;
    max-width: 450px;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .wrapper .main__wrap p {
    width: 100%;
    margin-left: 0%;
  }
}

.wrapper .main__wrap .time {
  width: 100%;
  max-width: 450px;
  margin-left: calc(50% - 225px);
  padding: 30px 0px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
}

@media (max-width: 760px) {
  .wrapper .main__wrap .time {
    font-size: 35px;
  }
}

.wrapper .main__wrap .time .days {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main__wrap .time .hours {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main__wrap .time .minutes {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main__wrap .time .seconds {
  width: 100%;
  float: left;
  width: calc(100% / 4);
}

.wrapper .main__wrap .time label {
  width: 100%;
  float: left;
  font-family: "Raleway", sans-serif;
  font-size: 62px;
  text-align: center;
}

@media (max-width: 920px) {
  .wrapper .main__wrap .time label {
    margin-left: 0px;
    font-size: 35px;
  }
}

.wrapper .main__wrap .time span {
  width: 100%;
  float: left;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 5px 0px;
}

@media (max-width: 760px) {
  .wrapper .main__wrap .time span {
    font: 12px;
  }
}

.wrapper .main__wrap .email__form {
  width: 100%;
  max-width: 500px;
  margin-left: calc(50% - 250px);
  margin-top: 120px;
}

@media (max-width: 760px) {
  .wrapper .main__wrap .email__form {
    max-width: 400px;
    margin-left: calc(50% - 200px);
  }
}

@media (max-width: 400px) {
  .wrapper .main__wrap .email__form {
    width: 80%;
    margin-left: 10%;
  }
}

.wrapper .main__wrap .email__form input {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px;
  text-transform: capitalize;
}

.wrapper .main__wrap .email__form input::placeholder {
  color: white;
  line-height: 30px;
}

.wrapper .main__wrap .email__form button {
  width: 150px;
  height: 35px;
  margin-left: calc(50% - 75px);
  background-color: #ff2761;
  color: white;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #454545;
}

.wrapper .main__wrap .mouse {
  margin-top: 80px;
  width: 30px;
  height: 45px;
  border: 1px solid white;
  margin-left: calc(50% - 15px);
  border-radius: 18px;
}

.section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

@media (max-width: 760px) {
  .section {
    height: 100%;
  }
}

.section .section_wrap {
  display: inline-block;
  width: 100%;
  height: 40px;
  height: 400px;
  padding: 70px 0px;
}

.section .section_wrap .section_left {
  width: 50%;
  float: left;
}

@media (max-width: 920px) {
  .section .section_wrap .section_left {
    width: 100%;
  }
}

.section .section_wrap .section_right {
  width: 50%;
  float: left;
  background: aquamarine;
}

@media (max-width: 920px) {
  .section .section_wrap .section_right {
    width: 100%;
  }
}

.section .section_wrap .left_content,
.section .section_wrap .right_content {
  width: 92%;
  margin-left: 4%;
}

.section .section_wrap .left_content h3,
.section .section_wrap .right_content h3 {
  width: 100%;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  color: black;
  text-transform: uppercase;
  padding: 10px 0px;
}

.section .section_wrap .left_content p,
.section .section_wrap .right_content p {
  font-size: 18px;
  line-height: 25px;
  padding: 10px 0px;
}

.section .section_wrap .left_content p span,
.section .section_wrap .right_content p span {
  color: red;
}

.section .section_wrap .left_content form,
.section .section_wrap .right_content form {
  width: 100%;
  border: 1px solid red;
  margin-top: 50px;
}

.section .section_wrap .left_content form .name,
.section .section_wrap .right_content form .name {
  width: 49%;
  float: left;
  color: grey;
  padding: 5px 0px;
  border-bottom: 1px solid grey;
}

.section .section_wrap .left_content form .email,
.section .section_wrap .right_content form .email {
  width: 49%;
  float: left;
  color: grey;
  padding: 5px 0px;
  border-bottom: 1px solid grey;
}

.section .section_wrap .left_content .animation,
.section .section_wrap .right_content .animation {
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.section .section_wrap .left_content .animation .bar_row,
.section .section_wrap .right_content .animation .bar_row {
  width: 100%;
  height: 50px;
  border-color: royalblue;
  margin: 1px 0px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.section .section_wrap .left_content .animation .bar_row label,
.section .section_wrap .right_content .animation .bar_row label {
  width: 50%;
  float: left;
}

.section .section_wrap .left_content .animation .bar_row span,
.section .section_wrap .right_content .animation .bar_row span {
  width: 50%;
  float: right;
  text-align: right;
}

.section .section_wrap .left_content .animation .bar_row .row_wrap,
.section .section_wrap .right_content .animation .bar_row .row_wrap {
  width: 100%;
}

.section .section_wrap .left_content .animation .bar_row .row_wrap .line, .section .section_wrap .left_content .animation .bar_row .row_wrap .active,
.section .section_wrap .right_content .animation .bar_row .row_wrap .line,
.section .section_wrap .right_content .animation .bar_row .row_wrap .active {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #5454c0;
  border-radius: 10px;
}

.section .section_wrap .left_content .animation .bar_row .row_wrap .active,
.section .section_wrap .right_content .animation .bar_row .row_wrap .active {
  background-color: cadetblue;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: coral;
}

.footer .footer-wrap {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

@media (max-width: 760px) {
  .container {
    width: 98%;
  }
}
