// font-family: 'Raleway', sans-serif;
//font-family: 'Noto Sans', sans-serif;


$font-Raleway: 'Raleway', sans-serif;
$font-Noto-sans: 'Noto Sans', sans-serif;


// Font size 

$tiny: 15px;
$small: 18px;
$normal: 23px;
$medium: 35px;
$large: 57px;

// Media

$sm: 400px;
$md: 720px;
$xl: 920px;
$xxl: 1400px;

// Color

$myblack: rgb(26, 23, 23) ;
$grey: rgb(82, 75, 75);
$buttons: red;
