// font-family: 'Raleway', sans-serif;
//font-family: 'Noto Sans', sans-serif;


$font-roboto: 'Raleway', sans-serif;
$font-roboto: 'Noto Sans', sans-serif;


// Font size 

$tiny: 12px;
$small: 18px;
$normal: 23px;
$medium: 35px;
$large: 62px;

// Media

$sm: 400px;
$md: 760px;
$xl: 920px;
$xxl: 1400px;

// Color

$myblack: rgb(26, 23, 23) ;
$grey: rgb(82, 75, 75);